<app-navigation-bar></app-navigation-bar>

<div class="container">
  <form (ngSubmit)="printEnteredData()">
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input
              id="email"
              type="text"
              class="validate"
              [formControl]="enteredText"
            />
            <label for="email">Enter Something</label>
            <span class="helper-text" data-error="wrong" data-success="right"
              >Enter Title of The Book, Author Name or Anything after Selecting
              From Radio Buttons Given Above!</span
            >
            <p>
              <label>
                <input
                  name="radioButtonSelected"
                  type="radio"
                  checked
                  value="Title"
                  [formControl]="radioButtonSelected"
                />
                <span>Book Title</span>
              </label>
            </p>
            <p>
              <label>
                <input
                  name="radioButtonSelected"
                  type="radio"
                  value="Author"
                  [formControl]="radioButtonSelected"
                />
                <span>Author</span>
              </label>
            </p>
            <a
              class="waves-effect waves-light btn right btn-large"
              (click)="printResult()"
              ><i class="material-icons right large">send</i>Search Book</a
            >
          </div>
        </div>
      </form>
    </div>
  </form>

  <div class="row" *ngFor="let item of responseData">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img [src]="item['volumeInfo']['imageLinks']['thumbnail']" />
          <span class="card-title">{{ item["volumeInfo"]["title"] }}</span>
        </div>
        <div class="card-content">
          <b>Publushed Date: {{ item["volumeInfo"]["publishedDate"] }}</b>
          <br />
          <b>Publisher: {{ item["volumeInfo"]["publisher"] }} </b>
          <br />
          <b>Authors:</b>
          <ul>
            <li *ngFor="let author of item['volumeInfo']['authors']">
              {{ author }}
            </li>
          </ul>
          <p><b>Description:</b> {{ item["volumeInfo"]["description"] }}</p>
        </div>
        <div class="card-action">
          <a [attr.href]="item['volumeInfo']['previewLink']">{{
            item["volumeInfo"]["title"]
          }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
